<div class="form-grid">
  <% fields.forEach((field) => { %>
    <label class="field">
      <span>
        <%= field.label %>
        <% if (field.required) { %>*<% } %>
      </span>

      <% if (field.type === "select") { %>
        <select name="<%= field.name %>" <%= field.required ? "required" : "" %> <%= field.disabled ? "disabled" : "" %>>
          <option value="">Select...</option>
          <% field.options.forEach((option) => { %>
            <option value="<%= option.value %>" <%= String(field.value) === String(option.value) ? "selected" : "" %>>
              <%= option.label %>
            </option>
          <% }) %>
        </select>
      <% } else { %>
        <input
          name="<%= field.name %>"
          type="<%= field.type || 'text' %>"
          value="<%= field.value %>"
          <%= field.required ? "required" : "" %>
          <%= field.disabled ? "disabled" : "" %>
        />
      <% } %>
    </label>
  <% }) %>
</div>
