<header class="site-header">
  <a class="brand" href="/computers">
    <span class="brand-mark">University IT</span>
    <span class="brand-name">Inventory App</span>
  </a>

  <nav class="site-nav">
    <a class="<%= navKey === 'users' ? 'is-active' : '' %>" href="/users">Users</a>
    <a class="<%= navKey === 'locations' ? 'is-active' : '' %>" href="/locations">Locations</a>
    <a class="<%= navKey === 'computers' ? 'is-active' : '' %>" href="/computers">Computers</a>
    <a class="<%= navKey === 'assignments' ? 'is-active' : '' %>" href="/assignments">Assignments</a>
    <a class="<%= navKey === 'software' ? 'is-active' : '' %>" href="/software">Software</a>
    <a class="<%= navKey === 'software-installations' ? 'is-active' : '' %>" href="/software-installations">Installs</a>
    <a class="<%= navKey === 'deaccessions' ? 'is-active' : '' %>" href="/deaccessions">Deaccessions</a>
    <a class="<%= navKey === 'reports' ? 'is-active' : '' %>" href="/reports">Reports</a>
  </nav>
</header>
